.Blog {
    padding: 5px;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 1px #cacaca;
}

.Blog h3 {
    font-weight: bold;
  
}
a.Blog {
    color: black;
    text-decoration: none;
    display: block;
}

.Blog img {
    max-width: 100%;
}
.Blog p {
    text-transform: uppercase;
}